{% load static %}
{% load currency %}
{% if products %}
<div class="row p-1 bg-white infinite-container">
  {% for product in products %}
    <div class="d-flex justify-content-between flex-wrap mx-auto infinite-item">
    <figure class="card card-product-grid product-grid-max-height figure p-1 m-1 border-0">
      <figcaption class="img-wrap" style="width:160px">
        <a href="{{product.get_url}}"><img src="{{product.images.url}}"></a>
      </figcaption>
      <figcaption class="img-wrap" style="width:160px; height:111px;">
        <div class="fix-height" style="max-width:215px;margin:0 auto;height:115px;">
          <a href="{{product.get_url}}" class="title d-inline-block price-note w-100 px-2"><p style="text-align:left">{{product.product_name | truncatechars:16 | capfirst}}</p>
          <span class="price b d-block" style="color:orangered;text-align:left;">{{symbol }}&nbsp;{{ product.price | currency:currency }} </span>
          <div class="d-flex justify-content-between">
            {% if not product.is_digital %}{% if product.stock %}<span style="color:#c1c1c1"><small>stock : {{product.stock}}</small></span>{% endif %}{% endif %}
            {% if product.sold %}<span class="float-right" style="color:#c1c1c1"><small>sold: {{product.sold}}</small></span>{% endif %}
          </div>
          </a>
        </div>
      </figcaption>
    </figure>
  </div>
  {% endfor %}
</div>
<nav class="mt-4" aria-label="Page navigation sample">
  {% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_next %}
      {% if request.GET.min or request.GET.max  %}
        <li class="page-item m-auto"><a class="infinite-more-link" href="?page={{products.next_page_number}}&min={{request.GET.min}}&max={{request.GET.max}}"></a></li>
      {% else %}
        <li class="page-item m-auto"><a class="infinite-more-link" href="?page={{products.next_page_number}}">Loading...</a></li>
      {% endif %}
    {% endif %}
  </ul>
  {% endif %}
</nav>
{% else %}
<div class="lead textx-center">No Result Found</div>
{% endif %}
